<header>
    <a id="shindy" href="/">Shindy</a>
    <nav id="topnav">     
        <a href="/login">Login</a>
        <form action="/logout?_method=DELETE" method=POST>
            <button id="logout_button" type="submit">LogOut</button>
        </form>
        <a href = "/register">Register</a>
        <a href = "/users">Users</a>
        <a href = "/users/new">Add User</a>        
    </nav>   
</header>