<section class="homepage-body">
    <div>
        <div class="intro">
            <h2>Hey! Create an account or login <br>
                to start playing with friends</h2>
        </div>
        <div class= "online-party-svg"></div>
    </div>
</section>
