<div class="general-form">
    <form action="/create-room" method="POST">
        <input type="submit" value = "Create Room">
    </form>

    <br>
    <br>

    <form action="/join-room" method="POST"> 
        <label for="room"> Join Room </label>
        <input type="text" name="room" placeholder="Room ID"/>
        <input type="submit" value= "Enter">
    </form>
</div>
