      <h1> REGISTER </h1>

    <div class="login-form">
			<form action="/register" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
      </form>
      <br/>
      <a href='/login'>Already signed up? Login here!</a>
		</div>
