<script>
  var ROOM_ID = '<%- JSON.stringify(roomID) %>'
  var USER = '<%- JSON.stringify(user) %>'
</script>

  <div class="content-container">
    
    <!-- Area where game will show -->
    <section id = "game-area">
      <%- include ('partials/tictactoe_board.ejs') %>
   
    </section>

    <!-- Area where video will show -->
    <section id="video-area"> </section>
    <!-- Rectangular switch -->
    <label class="switch">
      <input type="checkbox" id="video_toggle">
      <span class="slider"></span>
    </label>
    
    <!-- area for text chat -->
    <section id= "chat-area">
      <!-- Area where messages are displayed -->
      <div id="scroller">
        <!-- append content here -->
        <section id="chatroom"> </section> 
        <div id="anchor"></div>
    </div>
      <!-- Space where messages are typed -->
      <section id="chat_input_zone"> 
        <input id="message" class="vertical-align" placeholder= "Say Something..." type="text" />
        <button id="send_message" class="vertical-align" type="button">Send</button>
      </section>
  </section>
  </div>   
       
</div>      

  <script defer src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script defer src="chat.js"></script>
  <script defer src= "tictactoe.js"></script>  
  <script defer src="test.js"></script>
  
