<script>
  const ROOM_ID = "<%= roomId %>"
</script>

  <div class="content-container">
    
    <!-- Area where game will show -->
    <section id = "game-area">
      <h2> GAME HERE</h2>
    </section>

    <!-- Area where video will show -->
    <section id="video-area"> video here</section>
    
    <!-- area for text chat -->
    <section id= "chat-area">
      <section id="chatroom"> </section> 
      <section id="chat_input_zone"> 
        <input id="message" class="vertical-align" type="text" />
        <button id="send_message" class="vertical-align" type="button">Send</button>
      </section>
  </section>
  </div>
</div>      

  <script defer src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script defer src="chat.js"></script>
