// background gradient colors
$main-bg-start:  #F3FCFC;
$main-bg-end: #efe6f9; 

// Color Scheme Colors
$dark-base: #1D0C1F;
$dark-level-two: #095256;
$medium: #B91372; 
$lowlight: #52B788; 
$highlight: #D7f171;
$white: white;

$bgcolor : $dark-base;
$header-text: $white;  
$chat-bg : $white;
$video-bg: $dark-base;
$game-bg: $white;
$header-bg: $medium;
$my-message: $dark-base;
$other-message: $white;