$bgcolor : white;
$header-text: rgb(38, 38, 77);  
$chat-bg : white;
$video-bg: rgb(38, 38, 77);
$game-bg: rgb(236, 235, 235);
$header-bg: #D81159;
$my-message:#F5E1FD;
$other-message: #d3d3d3;
$nav-bg: transparent; 