.content-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid; 
    grid-template-columns: 75% 25%;
    grid-template-rows: 75% 25%;
    grid-template-areas: 
        "game chat"
        "video chat";
    overflow: hidden; 
}

section#game-area {
    grid-area: game;
    background-color: $game-bg;
}

section#video-area {
    grid-area:video;
    background-color: $video-bg;   
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    overflow: hidden;


}

section#chat-area{
    grid-area:chat;
    background-color: $chat-bg;
    overflow-y: scroll;
    height: 95%;
}

.debug_btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 20px;

}