.content-container {
    width: 100%;
    height: 90%;
    display: grid; 
    grid-template-columns: 75% 25%;
    grid-template-rows: 75% 25%;
    grid-template-areas: 
        "game chat"
        "video chat";
    overflow: hidden; 
}

section#game-area {
    grid-area: game;
    background-color: $game-bg;
}

section#video-area {
    grid-area:video;
    background-color: $video-bg;   
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    grid-gap: 10px; 
    grid-template-rows: 20%;
    overflow: hidden;
}

section#chat-area{
    grid-area:chat;
    background-color: $chat-bg;
    overflow-y: scroll;
    height: 95%;
}

