.content-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid; 
    grid-template-columns: 75% 25%;
    grid-template-rows: 75% 25%;
    grid-template-areas: 
        "game chat"
        "video chat";
    overflow: hidden; 
}

section#game-area {
    grid-area: game;
    background-color: $game-bg;
    position: relative; 
    .game-bottom-slider {
        display: none;
        width: 20px; 
        height: 20px; 
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 480 480' style='enable-background:new 0 0 480 480;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23E5E5E5;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M229.3,4.1l-160,144c-3.4,3.1-5.3,7.4-5.3,11.9v96c0,6.3,3.7,12,9.5,14.6s12.5,1.5,17.2-2.7L240,133.5 l149.3,134.4c4.7,4.2,11.5,5.3,17.2,2.7c5.8-2.6,9.5-8.3,9.5-14.6v-96c0-4.5-2-8.8-5.3-11.9l-160-144 C244.7-1.4,235.4-1.4,229.3,4.1z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M229.3,212.1l-160,144c-3.4,3.1-5.3,7.4-5.3,11.9v96c0,6.3,3.7,12,9.5,14.6c5.8,2.6,12.5,1.5,17.2-2.7 L240,341.5l149.3,134.4c4.7,4.2,11.5,5.3,17.2,2.7c5.8-2.6,9.5-8.3,9.5-14.6v-96c0-4.5-2-8.8-5.3-11.9l-160-144 C244.7,206.6,235.4,206.6,229.3,212.1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");        position: absolute; 
        bottom: 0; 
        left: 50%;
        z-index: 5; 
    }
    .game-side-slider {
        display: none; 
        width: 20px; 
        height: 20px; 
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 480 480' style='enable-background:new 0 0 480 480;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23E5E5E5;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M4.1,250.7l144,160c3.1,3.4,7.4,5.3,11.9,5.3h96c6.3,0,12-3.7,14.6-9.5c2.6-5.8,1.5-12.5-2.7-17.2L133.5,240 L267.9,90.7c4.2-4.7,5.3-11.5,2.7-17.2C268,67.7,262.3,64,256,64h-96c-4.5,0-8.8,2-11.9,5.3l-144,160 C-1.4,235.3-1.4,244.6,4.1,250.7z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M212.1,250.7l144,160c3.1,3.4,7.4,5.3,11.9,5.3h96c6.3,0,12-3.7,14.6-9.5c2.6-5.8,1.5-12.5-2.7-17.2 L341.5,240L475.9,90.7c4.2-4.7,5.3-11.5,2.7-17.2C476,67.7,470.3,64,464,64h-96c-4.5,0-8.8,2-11.9,5.3l-144,160 C206.6,235.3,206.6,244.6,212.1,250.7z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");        position: absolute; 
        top: 50%; 
        right: 3%;
        z-index: 5; 
    }
}

section#video-area {
    grid-area:video;
    background-color: $video-bg;   
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    overflow: hidden;
    position: relative; 
    .video-slider {
        width: 20px; 
        height: 20px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 480 480' style='enable-background:new 0 0 480 480;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23E5E5E5;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M250.7,475.9l160-144c3.4-3.1,5.3-7.4,5.3-11.9v-96c0-6.3-3.7-12-9.5-14.6c-5.8-2.6-12.5-1.5-17.2,2.7 L240,346.5L90.7,212.1c-4.7-4.2-11.5-5.3-17.2-2.7C67.7,212,64,217.7,64,224v96c0,4.5,2,8.8,5.3,11.9l160,144 C235.3,481.4,244.6,481.4,250.7,475.9z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M250.7,267.9l160-144c3.4-3.1,5.3-7.4,5.3-11.9V16c0-6.3-3.7-12-9.5-14.6c-5.8-2.6-12.5-1.5-17.2,2.7 L240,138.5L90.7,4.1C86-0.1,79.2-1.2,73.5,1.4C67.7,4,64,9.7,64,16v96c0,4.5,2,8.8,5.3,11.9l160,144 C235.3,273.4,244.6,273.4,250.7,267.9z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");        position: absolute; 
        top: 0; 
        left: 50%;
        z-index: 5; 
    }
}

section#chat-area{
    grid-area:chat;
    background-color: $chat-bg;
    overflow-y: scroll;
    height: 95%;
    position: relative; 
    .chat-slider {
        width: 20px; 
        height: 20px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 480 480' style='enable-background:new 0 0 480 480;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23E5E5E5;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M475.9,229.3l-144-160c-3.1-3.4-7.4-5.3-11.9-5.3h-96c-6.3,0-12,3.7-14.6,9.5c-2.6,5.8-1.5,12.5,2.7,17.2 L346.5,240L212.1,389.3c-4.2,4.7-5.3,11.5-2.7,17.2c2.6,5.8,8.3,9.5,14.6,9.5h96c4.5,0,8.8-2,11.9-5.3l144-160 C481.4,244.7,481.4,235.4,475.9,229.3z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M267.9,229.3l-144-160c-3.1-3.4-7.4-5.3-11.9-5.3H16c-6.3,0-12,3.7-14.6,9.5C-1.2,79.3-0.1,86,4.1,90.7 L138.5,240L4.1,389.3c-4.2,4.7-5.3,11.5-2.7,17.2C4,412.3,9.7,416,16,416h96c4.5,0,8.8-2,11.9-5.3l144-160 C273.4,244.7,273.4,235.4,267.9,229.3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        position: absolute; 
        top: 50%; 
        left: 0;
        z-index: 5; 
    }
}

.debug_btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 20px;
}

.game-bottom-slider {
    &:hover {
        animation-name: bounce-game-bottom-slider; 
        animation-duration: 500ms; 
        animation-iteration-count: infinite; 
    }
} 
@keyframes bounce-game-bottom-slider {
    from {
        transform: translateY(0); 
    }
    to {
        transform: translateY(-10px); 
    }
}

.video-slider {
    &:hover {
        animation-name: bounce-video-slider; 
        animation-duration: 500ms; 
        animation-iteration-count: infinite; 
    }
}
@keyframes bounce-video-slider {
    from {
        transform: translateY(0); 
    }
    to {
        transform: translateY(10px); 
    }
}

.game-side-slider {
    &:hover {
        animation-name: bounce-game-side-slider; 
        animation-duration: 300ms; 
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse; 
    }
}
@keyframes bounce-game-side-slider {
    from {
        transform: translateX(0); 
    }
    to {
        transform: translateX(-10px); 
    }
}

.chat-slider {
    &:hover {
        animation-name: bounce-chat-slider; 
        animation-duration: 300ms; 
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse; 
    }
}
@keyframes bounce-chat-slider {
    from {
        transform: translateX(0); 
    }
    to {
        transform: translateX(10px); 
    }
}

div#room-users-list {
    position: absolute; 
    top: 0; 
    right: 0; 
    background-color: $highlight; 
    box-shadow: 5px $dark-base;
    width: 3%; 
    height: 100%; 
    display: flex; 
    flex-direction: column-reverse;
}

div .user_div {
    align-items: center; 
    background-color: $white; 
    border-radius: 50%; 
    display: grid;
    margin: 3% 3%; 
    padding-top: 33%;
    padding-bottom: 33%; 
    place-items: center;
    position: relative; 
    width: 94%; 
    animation-name: drop-initial-in; 
    animation-duration: 300ms;
    animation-fill-mode: forwards; 
    
    box-shadow: inset 0px 4px 4px rgba(202, 217, 240, 0.62);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    p {
        margin: 0; 
        text-transform: uppercase;        
    }
}

@keyframes drop-initial-in {
    from {
        transform: translateY(-500px); 
    }
    to {
        transform: translateY(0); 
    }
}