.content-container {
  width: 100%;
  height: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  -ms-grid-rows: 75% 25%;
      grid-template-rows: 75% 25%;
      grid-template-areas: "game chat" "video chat";
}

section#game-area {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: game;
  background-color: pink;
}

section#video-area {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: video;
  background-color: green;
}

section#chat-area {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: chat;
  background-color: grey;
}

#footer {
  margin: 0 auto;
  width: 300px;
}

header {
  background-color: lightyellow;
  color: #183850;
  text-align: left;
  padding: 20px;
}

h1 {
  background-color: lightyellow;
  color: #183850;
  text-align: left;
  padding: 20px;
  text-transform: uppercase;
  margin: 0px;
}

#shindy {
  color: #183850;
  font-size: 2em;
  text-decoration: none;
}

/* Navigation container */
#topnav {
  overflow: hidden;
  background-color: #333;
  width: 75%;
  float: right;
}

/* Navbar links */
#topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
#topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Make logout button look like the rest of links */
#logout_button {
  border: none;
  background-color: #333;
  color: #f2f2f2;
  float: right;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 1em;
}

#logout_button:hover {
  background-color: #ddd;
  color: black;
}

/* STYLE */
html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: white;
}

section#chatroom {
  margin: auto;
  padding: 0 20px 0 0;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

section#chatroom p {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 16px 20px 16px 20px;
  margin: auto;
  font: 16px/20px 'Noto Sans', sans-serif;
  border-radius: 10px;
}

section#chat_input_zone {
  height: 5%;
  text-align: center;
  bottom: 0;
  margin: auto;
  width: 100%;
  position: fixed;
  background: grey;
  border: 5px outset grey;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

input#message {
  display: inline-block;
  width: 88%;
  height: 70%;
  font-size: 2vh;
}

button#send_message {
  display: inline-block;
  height: 70%;
  width: 10%;
}

.message {
  width: 75%;
  height: 2vh;
  line-height: 2vh;
  font-size: 1em;
}

.message:nth-child(even) {
  background-color: #151735;
  color: white;
}

.message:nth-child(odd) {
  background-color: #224b6b;
}

/* adding video functionality */
video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* login and register forms */
.login-form {
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}

.login-form h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}

.login-form input[type="password"],
.login-form input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #535b63;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: white;
}
/*# sourceMappingURL=style.css.map */