<!-- This is a partial which is used with the room.ejs file -->

<div id="game-content">
    <div id="pin-container">
        <form id="pin-form">
            <input id="game-pin" type="tel" value="" autofocus="autofocus" placeholder="Game PIN">
            <input id="pin-submit" type="submit" value="Enter">
        </form>
        <p id="player-pin">Your PIN is</p>
    </div>
    <div id="header">
        <div id="game_message">Loading...</div>
        <div id="play-again">Play again</div>
    </div>
    <div id="board">
        <div class="tile"></div>
        <div class="divider top-divider"></div>
        <div class="tile"></div>
        <div class="divider top-divider"></div>
        <div class="tile"></div>
        <div class="divider horizontal-divider"></div>
        <div class="tile"></div>
        <div class="divider vertical-divider"></div>
        <div class="tile"></div>
        <div class="divider vertical-divider"></div>
        <div class="tile"></div>
        <div class="divider horizontal-divider"></div>
        <div class="tile"></div>
        <div class="divider bottom-divider"></div>
        <div class="tile"></div>
        <div class="divider bottom-divider"></div>
        <div class="tile"></div>
    </div>
</div>

<!-- <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
